<!DOCTYPE html>
<html>
<head>
    <title>Brandon Hammond</title>
    <link rel="stylesheet" type="text/css" href="/views/css/main.css" />
</head>
<body>
    {% include 'partials/header.twig' %}
    {% block main_content %}
    {% endblock %}
    {% include 'partials/footer.twig' %}
</body>
</html>